<section data-ng-controller="AddictionsController" class="addiction-page">

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-link" data-ng-href="#!/infographics">Back</a>
            <button class="btn btn-primary" data-ng-click="saveInfographics();">Save</button>
            <span data-ng-if="error">{{ error }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input class="form-control" data-ng-model="addictionsData.displayName" placeholder="Infographics name">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ addictionsData.name }}</h1>
        </div>
    </div>
    <div class="col-xs-12 sol-sm-12 col-md-2 addictions">
        <div class="col-xs-4 col-sm-3 col-md-12 addiction" data-ng-repeat="addiction in addictionsData.children track by $index">
            <button class="btn btn-block" data-ng-click="addNode(addiction)">{{ addiction.name }}</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10">
        <div class="col-xs-12">
            <div addictions="addictions" data-graph-data="d3AddictionsData" data-is-updated="d3IsUpdated"></div>
        </div>
    </div>
    <div class="overlay" data-ng-show="showPanel" data-ng-click="leavePanel();"></div>
    <div class="edit-panel" data-ng-show="showPanel" data-ng-style="panelPosition">
        <small>add an addiction to</small>
        <h3>{{ currentItem.addiction }}</h3>
        <input class="form-control edit-panel-item" data-ng-model="currentItem.name" placeholder="{{ currentItem.placeholder }}" data-ng-if="showPanel" focus="focus">
        <label class="edit-panel-item size-range">
            Taille de la bulle
            <input type=range min=1 max=10000 data-ng-model="currentItem.size" step="1">
        </label>
        <button class="btn btn-block btn-success form-control edit-panel-item" data-ng-click="leavePanel();">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
        <button class="btn btn-block btn-default form-control edit-panel-item" data-ng-click="deleteCurrentNode()" ng-if="editMode">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </div>
</section>
