<section data-ng-controller="AddictionsController" class="addiction-page">

    <div class="row">
        <div class="col-xs-12">
            <h1>{{ addictionsData.name }}</h1>
        </div>
    </div>
    <div class="col-xs-12 sol-sm-12 col-md-2 addictions">
        <div class="col-xs-4 col-sm-3 col-md-12 addiction" data-ng-repeat="addiction in addictionsData.children track by $index">
            <button class="btn btn-block" data-ng-click="addNode(addiction)">{{ addiction.name }}</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10">
        <div class="col-xs-12">
            <div addictions="addictions" data-graph-data="d3AddictionsData" data-is-updated="d3IsUpdated"></div>
        </div>
    </div>
    <div class="overlay" data-ng-show="showPanel" data-ng-click="showPanel = false"></div>
    <div class="edit-panel" data-ng-show="showPanel" data-ng-style="panelPosition">
        <small>add an addiction to</small>
        <h3>{{ currentItem.addiction }}</h3>
        <input class="form-control" data-ng-model="currentItem.name">
        <input type="number" class="form-control" data-ng-model="currentItem.size" min="0">
        <button class="btn btn-block btn-default form-control" data-ng-click="deleteCurrentNode()">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </div>
</section>
