<section data-ng-controller="AddictionsController">

    <div class="row">
        <div class="col-xs-12">
            <h1>{{ addictionsData.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <div addictions="addictions" data-graph-data="d3AddictionsData" data-is-updated="d3IsUpdated"></div>
        </div>
        <div class="col-xs-2">
            <div class="row" data-ng-repeat="addiction in addictionsData.children track by $index">
                <h2 class="col-xs-12">{{ addiction.name }}</h2>
                <div class="row" data-ng-repeat="item in addiction.children track by $index">
                    <input class="col-xs-12" data-ng-model="item.name">
                    <input class="col-xs-8" type="number" data-ng-model="item.size">
                    <i class="glyphicon glyphicon-trash col-xs-4" data-ng-click="addiction.children.splice($index, 1)"></i>
                </div>
                <div class="row">
                    <button class="btn btn-block btn-default" data-ng-click="addiction.children.push({name: '', size: 0})">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
