<section class="row" data-ng-controller="ListController">
    <h3 class="col-md-12 text-center">Your infographics</h3>

    <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8" data-ng-repeat="infograph in infographics track by $index">
        <a class="col-xs-10" data-ng-href="#!/infographics/{{ infograph.name.toLowerCase() }}/{{ infograph._id }}">{{ infograph.displayName }}</a>
        <span class="glyphicon glyphicon-trash col-xs-2" data-ng-click="removeInfographics(infograph)"></span>
    </div>

    <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
        <a class="btn btn-primary btn-block" data-ng-href="#!/infographics/addictions">Addiction <span class="glyphicon glyphicon-plus"></span></a>
    </div>
</section>
